@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    margin:0px;
}

nav {
    background-color: lightblue;
    width: 100;
}

.menu {
    list-style: none;
    margin:0;
    padding: 0;
    width:100%;
}

.menu .lista {
    display: inline-block;
}

.lista-r {
    float:right;
}

.menu .lista a {
    text-decoration: none;
    color:white; 
    display: block;
    padding: 15px 50px;
}

.lista a:hover {
    background-color: orangered ;
}

.container {
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin:0;
}

.container-flex {
    display: flex;
    width: 90vh;

}

.panel {
    height:80vh;
    border-radius:50px ;
    background-size: auto 100%;
    background-color: black;
    background-position: center;
    cursor: pointer;
    flex: 0.5;
    margin:10px;
    position: relative;
    transition: flex 0.7s ease-in;
    background-repeat: no-repeat;
    border: 2px dotted white;
    animation: moverArriba 1s ease-in;

}



.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin:0;
    padding: 5;
    background-color: wheat;
    border-radius: 20%;
    opacity: 0;
    border: 2px solid blueviolet;


}

.panel.active {
    flex:5;

    border: 2px solid white;


}


.panel.active h3 {
    opacity: 1;
    font-size:26px;
    animation: moverLeft 1s;
}

@keyframes moverArriba {
    0% {
        opacity:0;
        transform:translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translate(0);

    }

    

}

@keyframes moverLeft {
    0% {
        opacity:0;
        transform:translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translate(0);

    }
}

@media all and (max-width:480px) {
    .container {
        width:100vw;
        background-color:tomato;


    }
    .menu {
        display:flex;
        flex-wrap: nowrap;
    }


}