body {
    font-family: 'Noto Serif', serif;
    background-color:burlywood;
}


.navegador {
    color:antiquewhite;
    font-size: 30px;
    text-align: center;
    border: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://cr00.epimg.net/radio/imagenes/2020/03/17/medellin/1584417592_191569_1584417725_noticia_normal_recorte1.jpg");
}

.ninez {
    border:90;
    margin: 90;
    padding: 70;
}